<div class="row content-order text-center">
  <h3>Your Order</h3>
  <div class="box-order col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Name</th>
          <th>Price</th>
          <th>Personalization</th>
        </tr>
      </thead>
      <tbody *ngFor="let order of orders">
        <tr scope="row">
          <td>{{order.quantity}}</td>
          <td>{{order.product.name}}</td>
          <td>{{order.product.price*order.quantity}}</td>   
          <td> 
            <p *ngFor="let item of order.items">{{item.name}}</p>
          </td>       
        </tr>            
      </tbody>
      <tbody>
        <tr>
          <td colspan="2">
              <strong>Total:</strong>{{total}}
          </td>
          <td>
            <button class="btn btn-food button--wapasha button--inverted btn-cancel" (click)="OnCancelOrder(product)">Cancel Order</button>
          </td>        
        </tr>  
      </tbody>      
    </table>
  </div>
</div>
