.content-order{
  background: url("/assets/img/bg-order.gif");
  height: 100vh;
  color: #fff;
  overflow-y: overlay;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th{
  padding: 8px 0px;
}

th{
  text-align: center;
}

.btn-cancel{
  position: relative;
  padding: 1em 2em;
}