.content-menu {
	overflow-y: scroll;
	height: 100vh;
	padding-top: 100px;
	background: url(/assets/img/bg.jpg);
	background-size: contain;}

/*-- Style Price --*/
.box-product .box-price{
	position: relative;
	width: 200px;}

.box-product .box-price img{
	position: absolute;
	left: 30px;
	top: -24px;
	z-index: 0;
	width: 70%;}

.box-product .box-price .price{
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
	color: white;
	font-size: 18px;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;}/*-- End Style Price --*/

/*-- Style Img Product --*/
.box-product .img-product{
	box-shadow: 0 0 1px black;
}

/*-- Style barcode --*/
.box-name-barcode{
	position: relative;
	padding-bottom: 60px;
}

.box-name-barcode img{
	position: relative;
	top: -40px;
	z-index: 0;
}

.box-name-barcode .name-barcode{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 205px;
}

.box-name-barcode p:nth-child(1){
	color: #d30d0d;
	font-size: 16px;
	font-family: 'Sedgwick Ave', cursive;
	font-weight: bolder;
	white-space: pre-wrap;
	text-align: right;
	margin: 0;
	line-height: 1;
	/* letter-spacing: -1px; */
	text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.4);
}

.box-name-barcode p:nth-child(2){
	color: #313131;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: -1px;
	text-align: right;
}

.btn-order{
	padding: .5em 1.7em;
	position: absolute;
	bottom: 80px;
	right: 10%;}


.btn-continue{
	padding: 1em 2em;
	position: relative;
	top: 30px;}

	/*-- Style content personalization (step) --*/
	.content-step{
		width: 100%;
		height: 100vh;
		padding-top: 100px;
		position: absolute;
		top: 0;		
		color: white;
		background:url("/assets/img/bg.jpg");}