<div class="row content-menu">
	<div class="col-md-4 col-xs-6 col-sm-6 text-center box-product animated jackInTheBox" *ngFor="let product of products" (click)="addProduct(product)">
		<div class="box-price">
			<img src="/assets/img/bg-barcode.png" alt="">
			<h3 class="price">$ {{product.price}}</h3> 	
		</div>

		<img src="{{product.image}}" alt="" class="img-product"> 
		
		<div class="box-name-barcode">
			<img src="/assets/img/bg-name-barcode.png" alt="">
			<div class="name-barcode">
				<p>{{product.name}}</p>
				<p>Código: {{product.codebar}}</p>
			</div>
			<button class="btn-order btn-food btn button--wapasha button--inverted">Order here</button>
		</div>
	</div>
</div>

<div class="row content-step text-center animated fadeIn" *ngIf="product">
	<h2 class="step-title">{{ product.steps[count].name }}</h2>
  <div class="col-md-12">
		<div class="row">
			<div class="col-md-4 col-lg-3 col-sm-6 col-xs-6 animated zoomIn" *ngFor="let item of product.steps[count].items" (click)="addItem(item)">
					<div class="box-step">
						<img src="{{item.image}}" alt="" class="step-item-image">
						<h3 class="step">{{ item.name }}</h3>
					</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-food button--wapasha button--inverted btn-continue" (click)="continue()">Continuar</button>
				<!-- <button class="btn btn-food button--wapasha button--inverted btn-continue" (click)="atras()">atrás</button> -->
			</div>
		</div>
	</div>
</div>

<script async>
		$(".box-product").hover(function(){
				$(this).toggleClass("jackInTheBox");  //Toggle the active class to the area is hovered
		});</script>
	
