<div class="container-fluid">
  <div class="row">
    <!-- content for the menu -->
    <div class="col-md-8">
      <div class="bg-top"></div>
      <app-menu (selectProduct)="selectProduct($event)" (selectItem)="selectItem($event)"></app-menu>
    </div>

    <!-- content for the order-->
    <div class="col-md-4">
      <app-order [orders]="orders" (reset)="reset()" [total]="total"></app-order>
    </div>
  </div>
</div>



  