/* You can add global styles to this file, and also import other style files */
body{
    overflow: hidden;
}

/*-- Style Scroll --*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;}/*-- End Style Scroll --*/

/*-- Btn global --*/
.btn:focus {
	outline: none !important;}

.btn{
	border: 0px solid transparent !important;}

.btn-food {
	letter-spacing: 1px;
	font-weight: bold;
	border-radius: 40px;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;}

	/*-- Animation btn --*/
.button.button--wapasha {
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;}

.button--wapasha.button--inverted {
	background: #fff;
	color: #d30d0d;}

.button--wapasha::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #d30d0d;
	z-index: -1;
	border-radius: inherit;
	opacity: 0;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);}

.button--wapasha.button--inverted::before {
	border-color: #efe520;}

.button--wapasha:hover {
	background-color: #fff;
	color: #3f51b5;}

.button--wapasha.button--inverted:hover {
	background-color: #d30d0d;
	color: #fff;}

.button--wapasha:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;}/*-- End Btn global --*/